@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.navbar-brand{
font-weight: 900;
font-size: 25px; 
font-family: "Josefin Sans", sans-serif;
margin-left: 10px;
}
#navbarScroll{
  padding: 14px; 
  background-color: white;
align-items: left;
/* box-shadow:  25px 25px 77px #aaaaaa,
             -25px -25px 77px #ffffff; */
}
.nav-item{
margin: 6px;
font-size: 19px;
font-family: "Josefin Sans", sans-serif;
}